---
title: Who has the best theme song?
date: 2020-03-06
tags: three
layout: blog-layout
category: music
---

Lots of people have theme music these days. Even some dogs have theme music! So who has the best theme music?

I asked forty people what they thought, and they all answered incorrectly.

Here are some of the answers that might be acceptable:

<ol>
    <% data.themesongs.each do |song| %>
        <h2>Song Title: <%= song.title %></h2>
        <ul>
            <h3>Thing it's from: <%= song.from %></h3>
            <%= song.embed %>
        </ul>
    <% end %>
</ol>

Here are all the themes from the 1980s:

<ul>
    <% eighties_songs.each do |song| %>
        <li><em><%= song.title%></em> from <%= song.from%> (<%= song.year%>)</li>
    <% end %>
</ul>

Here are all the themes from the 1990s:

<ul>
    <% nineties_songs.each do |song| %>
        <li><em><%= song.title%></em> from <%= song.from%> (<%= song.year%>)</li>
    <% end %>
</ul>

That's all! Let me know in the comments if you're wrong!


