---
title: What is your favorite Halloween movie?
date: 2020-03-05
tags: second
layout: blog-layout
category: halloween
---

Halloween is only eight months away, so it's high time you start building your Halloween movie watchlist for this year. If you're just starting out, here is a list of films to carry you through the spooky season.

<ol>
  <% data.halloweenmovies.each do |film| %>
  <li><%= film.title %>
    <ul>
      <li><%= film.synopsis %></li>
    </ul>
  </li>
  <% end %>
</ol>

Well, maybe that's not enough movies for you. Here is some extra credit:

<ol>
<% data.halloweenmovies2.each do |film| %>
  <li>
    <% film.each do |name| %>
      <%= name['title']%>
        <ul><%= name['synopsis']%></ul>
    <% end %>
  </li>
<% end %>
</ol>

Here is more info:

<ul>
<% detailed_info.each do |film| %>
  <li>
    Title: <%= film.title %>
    <ul>
      <li>Director: <%= film.director %></li>
      <li>Writer: <%= film.writer %></li>
      <li>Release Date: <%= film.release %></li>
    </ul>
  </li>
<% end %>
</ul>

And some movie posters:

<% detailed_info.each do |film| %>
  <img src="<%= film.poster %>" height="300px">
<% end %>

Here is a list of movies with mutants in them:

<% select_monster_movies_mutant.each do |film| %>
  <img src="<%= film.poster %>" class="halloween-movies__mutant-posters">
<% end %>

Here's some movies that feature vampires:

<% select_monster_movies_vampire.each do |film| %>
  <img src="<%= film.poster %>" class="halloween-movies__mutant-posters">
<% end %>

If you have suggestions, leave them in the comments below!
